<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8"/>
    <title>Web Engi Project</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>

<div id="app">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li><a href="#" v-on:click="allQuestions">All Questions</a></li>
                <li><a href="#" v-on:click="openQuestions">Questions open</a></li>
                <li><a href="#" v-on:click="unsolvedQuestions">Questions unsolved</a></li>
                <li><a href="#" v-if="loggedIn" v-on:click="yourAnswer">Your Answers</a></li>
                <li><a href="#" v-if="loggedIn" v-on:click="yourQuestions">Your Questions</a></li>
            </ul>
            <form class="navbar-form navbar-right">
                <div class="form-group">
                    <input type="text" class="form-control" v-model="username" v-if="!loggedIn" placeholder="Username"/>
                    <input type="password" class="form-control" v-model="password" v-if="!loggedIn"
                           placeholder="Password"/>
                </div>
                <button type="button" class="btn btn-default" v-if="!loggedIn" v-on:click="loginFunction">Login</button>
                <button type="button" class="btn btn-default" v-if="!loggedIn" v-on:click="registerFunction">Create User
                </button>
                <button type="submit" class="btn btn-default" v-if="loggedIn" v-on:click="logoutFunction">Logout</button>

            </form>
        </div>
    </nav>

    <div id="Test1" v-if="showAllQuestions">
        <button v-on:click="loginFunction">Click me</button>
        <button v-on:click="getQuestions">Want some of these Questions</button>
        <h1>{{user}}</h1>
        <h1>{{pwd}}</h1>
        <form v-if="loggedIn">
            <input type="text" v-model="title" placeholder="Whats your Question"/>
            <p/>
            <textarea rows="4" cols="50" v-model="text" placeholder="Whats your Problem"/>
            <p/>
            <input type="button" v-on:click="newQuestions" value="Drück für den WHOOOP"/>
        </form>


        <ul id="example-1">
            <li v-for="question in questions">
                <h2>{{ question.title }} </h2>
                <h4>{{ question.text }} </h4>
                <p><i>{{ question.owner}}</i></p>
            </li>
        </ul>


    </div>

    <div id="Test2" v-if="showOpenQuestions">
        <h1>Tada</h1>
    </div>

    <div id="UnsolvedQuestions" v-if="showUnsolvedQuestions">
        <h1>SOLVE THIS</h1>
    </div>

    <div id="YourAnswer" v-if="showYourAnswers">
        <h1>Your Answers are right here</h1>
    </div>

    <div id="YourQuestions" v-if="showYourQuestions">
        <h1>Your Questions are here</h1>
    </div>


</div>

</body>


<script src="https://unpkg.com/vue"></script>
<script>

    $(function () {
        var app = new Vue({
            el: "#app",
            data: {
                questions: [],
                title: '',
                text: '',
                username: '',
                password: '',
                access_token: '',
                loggedIn: false,
                showAllQuestions: true,
                showOpenQuestions: false,
                showUnsolvedQuestions: false,
                showYourAnswers: false,
                showYourQuestions: false,
            },

            methods: {
                newQuestions: function () {
                    var $access_token = '?access_token=' + app.access_token;
                    $.ajax({
                        url: 'http://localhost:8080/questions/new'+[$access_token],
                        type: 'POST',
                        contentType: 'application/JSON',
                        data: JSON.stringify({
                            "title": app.title,
                            "text": app.text
                        }),

                        success: function () {
                            app.getQuestions();
                            app.title = '';
                            app.text = '';
                        }
                    });
                },

                getQuestions: function () {
                    $.getJSON('http://localhost:8080/questions/all', function (res) {
                        app.questions = res;
                    });
                },

                loginFunction: function () {
                    $.ajax({
                        url: 'http://localhost:8080/oauth/token',
                        type: 'POST',
                        xhrFields: {withCredentials: true},
                        headers: {
                            "Authorization": "Basic " + btoa('my-trusted-client' + ':' + '')
                        },
                        data: {
                            "grant_type": 'password',
                            "username": this.username,
                            "password": this.password
                        },
                        contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                        success: function (data) {
                            this.loggedIn = true;
                            this.access_token = data.access_token;
                        }.bind(this)


                    });
                },

                logoutFunction: function(){
                    $.ajax({
                        url: 'http://localhost:8080/logout',
                        type: 'GET',
                        success: function(){
                            this.loggedIn = false;
                            this.access_token = '';
                        }
                    });
                },

                registerFunction: function () {
                    $.ajax({
                        url: 'http://localhost:8080/registration',
                        type:'POST',
                        contentType: 'application/JSON',
                        data: JSON.stringify({
                            "username": app.username,
                            "password": app.password
                        }),
                        success:function () {
                            alert('Your Registration was successful');
                        },
                        error:function (xhr) {
                            alert(xhr);
                        }

                    })
                },

                allQuestions: function () {
                    app.showAllQuestions = true;
                    app.showOpenQuestions = false;
                    app.showUnsolvedQuestions = false;
                    app.showYourAnswers = false;
                    app.showYourQuestions = false;
                },
                openQuestions: function () {
                    app.showAllQuestions = false;
                    app.showOpenQuestions = true;
                    app.showUnsolvedQuestions = false;
                    app.showYourAnswers = false;
                    app.showYourQuestions = false;
                },
                unsolvedQuestions: function () {
                    app.showAllQuestions = false;
                    app.showOpenQuestions = false;
                    app.showUnsolvedQuestions = true;
                    app.showYourAnswers = false;
                    app.showYourQuestions = false;
                },
                yourAnswer: function () {
                    app.showAllQuestions = false;
                    app.showOpenQuestions = false;
                    app.showUnsolvedQuestions = false;
                    app.showYourAnswers = true;
                    app.showYourQuestions = false;
                },
                yourQuestions: function () {
                    app.showAllQuestions = false;
                    app.showOpenQuestions = false;
                    app.showUnsolvedQuestions = false;
                    app.showYourAnswers = false;
                    app.showYourQuestions = true;
                }

            }
        })
    });

</script>

</html>