<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8"/>
    <title>Web Engi Project</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <!-- default header name is X-CSRF-TOKEN -->
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>

<div id="app">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li><a href="#" v-on:click="showAllQuestionsFunc">All Questions</a></li>
                <li><a href="#" v-on:click="showAllUnsolvedQuestionsFunc">Questions Unsolved</a></li>
                <li><a href="#" v-on:click="showAllUnansweredQuestionsFunc">Questions Unanswered</a></li>
                <li><a href="#" v-if="loggedIn" v-on:click="showYourAnsweredQuestionsFunc">Your Answered Questions</a>
                </li>
                <li><a href="#" v-if="loggedIn" v-on:click="showYourQuestionsFunc">Your Questions</a></li>
                <li><a href="#" v-if="loggedIn" v-on:click="showAskingNewQuestionFunc">Ask a Question</a></li>
            </ul>
            <form class="navbar-form navbar-right">
                <div class="form-group">
                    <input type="text" class="form-control" v-model="username" v-if="!loggedIn" placeholder="Username"/>
                    <input type="password" class="form-control" v-model="password" v-if="!loggedIn"
                           placeholder="Password"/>
                </div>
                <button type="button" class="btn btn-default" v-if="!loggedIn" v-on:click="loginFunction">Login</button>
                <button type="button" class="btn btn-default" v-if="!loggedIn" v-on:click="registerFunction">Create User
                </button>
                <button type="button" class="btn btn-default" v-if="loggedIn" v-on:click="logoutFunction">Logout
                </button>

            </form>
        </div>
    </nav>

    <div id="all" v-if="showAllQuestions">
        <h1 style="text-align:center;"><b><i>All Questions</i></b></h1>
        <questions
                v-on:answer-question="answerQuestion"
                v-on:request-question="showDetailsQuestionFunc"
                v-on:delete-question="deleteQuestion"
                v-for="question in questions"
                v-bind:question="question"
                v-bind:key="question.id"
                v-bind:logged-in="loggedIn"
                v-bind:user="loggedUsername"
                :current_question_id.sync="current_question_id"
                :text.sync="text"
        >
        </questions>

    </div>

    <div id="detail" v-if="showDetailsQuestion">
        <details-question
                v-on:answer-question="answerQuestion"
                v-on:request-question="showDetailsQuestionFunc"
                v-on:delete-question="deleteQuestion"
                v-on:accept-answer="acceptAnswer"
                v-bind:question="question"
                v-bind:key="question.id"
                v-bind:logged-in="loggedIn"
                v-bind:user="loggedUsername"
                :current_question_id.sync="current_question_id"
                :accepted_answer_id.sync="accepted_answer_id"
                :text.sync="text"
        >
        </details-question>
    </div>

    <div id="open" v-if="showUnsolvedQuestions">
        <h1 style="text-align:center;"><b><i>Unsolved Questions</i></b></h1>
        <questions
                v-on:answer-question="answerQuestion"
                v-on:request-question="showDetailsQuestionFunc"
                v-on:delete-question="deleteQuestion"
                v-for="question in questions"
                v-bind:question="question"
                v-bind:key="question.id"
                v-bind:logged-in="loggedIn"
                v-bind:user="loggedUsername"
                :current_question_id.sync="current_question_id"
                :text.sync="text"
        >
        </questions>
    </div>

    <div id="new" v-if="showAskingNewQuestion">
        <h1 style="text-align:center;"><b><i>New Question</i></b></h1>
        <form style="text-align:center;">
            <input type="text" v-model="title" placeholder="Whats your Question"/>
            <p/>
            <textarea rows="10" cols="150" v-model="text" placeholder="Whats your Problem"/>
            <p/>
            <input type="button" v-on:click="newQuestion" value="Ask your question"/>
        </form>
    </div>

    <div id="unsolved" v-if="showAllUnansweredQuestions">
        <h1 style="text-align:center;"><b><i>Unanswered Questions</i></b></h1>
        <questions
                v-on:answer-question="answerQuestion"
                v-on:request-question="showDetailsQuestionFunc"
                v-on:delete-question="deleteQuestion"
                v-for="question in questions"
                v-bind:question="question"
                v-bind:key="question.id"
                v-bind:logged-in="loggedIn"
                v-bind:user="loggedUsername"
                :current_question_id.sync="current_question_id"
                :text.sync="text"
        >
        </questions>
    </div>

    <div id="answered" v-if="showYourAnswers">
        <h1 style="text-align:center;"><b><i>Your Answered Questions</i></b></h1>
        <questions
                v-on:answer-question="answerQuestion"
                v-on:request-question="showDetailsQuestionFunc"
                v-on:delete-question="deleteQuestion"
                v-for="question in questions"
                v-bind:question="question"
                v-bind:key="question.id"
                v-bind:logged-in="loggedIn"
                v-bind:user="loggedUsername"
                :current_question_id.sync="current_question_id"
                :text.sync="text"
        >
        </questions>
    </div>

    <div id="own" v-if="showYourQuestions">
        <h1 style="text-align:center;"><b><i>Your Questions</i></b></h1>
        <questions
                v-on:answer-question="answerQuestion"
                v-on:request-question="showDetailsQuestionFunc"
                v-on:delete-question="deleteQuestion"
                v-for="question in calcOwn"
                v-bind:question="question"
                v-bind:key="question.id"
                v-bind:logged-in="loggedIn"
                v-bind:user="loggedUsername"
                :current_question_id.sync="current_question_id"
                :text.sync="text"
        >
        </questions>
    </div>


</div>

</body>


<script src="https://unpkg.com/vue"></script>
<script>

        var token = $("meta[name='_csrf']").attr("content");
        var header = $("meta[name='_csrf_header']").attr("content");

        $(document).ajaxSend(function (e, xhr, options) {
            xhr.setRequestHeader(header, token);
        });

    $(function () {

        var Questions = {
            props: {
                question: '',
                loggedIn: '',
                user: '',
                text: '',
                answeringQuestion: false
            },
            template: '\
                    <span>\
                        <ul style="border:10px solid lightgray; border-radius: 20px;">\
                            <h2><a href="#" v-on:click="requestQuestion">{{ question.title | teasertitle }} </a></h2>\
                            <h4>{{ question.text | teasertext }} </h4>\
                            <p><i>{{ question.owner}}</i>\
                            <button v-if="question.owner == user" style="float: right" v-on:click="deleteQuestion">Delete</button>\
                            <button v-if="loggedIn" style="float: right" v-on:click="answerQuestion">Answer</button>\
                            </p>\
                            <textarea rows="4" cols="50" v-model="text" v-if="answeringQuestion" placeholder="Your Answer"/>\
                            <input type="button" v-if="answeringQuestion" v-on:click="submitAnswer" value="Submit"/>\
                            <input type="button" v-if="answeringQuestion" v-on:click="cancelAnswer" value="Cancel"/>\
                        </ul>\
                    </span>\
                    ',
            methods: {
                requestQuestion: function () {
                    this.$emit('update:current_question_id', this.question.id)
                    this.$emit('request-question')
                },
                answerQuestion: function () {
                    this.$emit('update:current_question_id', this.question.id)
                    this.answeringQuestion = true
                },
                submitAnswer: function () {
                    this.answeringQuestion = false
                    this.$emit('update:text', this.text)
                    this.$emit('answer-question')
                },
                cancelAnswer: function () {
                    this.answeringQuestion = false
                    this.text = ''
                },
                deleteQuestion: function () {
                    this.$emit('update:current_question_id', this.question.id)
                    this.$emit('delete-question')
                }
            },
            filters: {
                teasertext: function (value) {
                    if (!value) return ''
                    value = value.toString()
                    if(value.length >= 150){
                        return value.substring(0, 150) + "..."
                    }
                    return value
                },
                teasertitle: function (value) {
                    if (!value) return ''
                    value = value.toString()
                    if(value.length >= 50){
                        return value.substring(0, 50) + "..."
                    }
                    return value

                }
            }
        }

        var DetailsQuestion = {
            props: {
                question: '',
                loggedIn: '',
                user: '',
                text: '',
                answeringQuestion: false
            },
            template: '\
                <span>\
                    <ul style="border:10px solid lightgray; border-radius: 10px;">\
                        <h2  style="border-bottom:1px solid black;">{{question.title}}</h2>\
                        <h3>{{question.text}}</h3>\
                        <p><i>{{ question.owner}}</i>\
                            <button v-if="question.owner == user" style="float: right" v-on:click="deleteQuestion">Delete</button>\
                            <button v-if="loggedIn" style="float: right" v-on:click="answerQuestion">Answer</button>\
                        </p>\
                        <ul v-for="answer in question.answers">\
                            <h3 v-if="answer.accepted">---Accepted Answer---</h3>\
                            <h2 v-if="answer.accepted">{{answer.text}}</h2>\
                            <h4 v-if="!answer.accepted">{{answer.text}}</h4>\
                            <p><i>{{answer.owner}}</i>\
                            <span v-if="!question.answered">\
                            <input type="button" v-if="question.owner === user" style="float: right" v-on:click="acceptAnswer(answer.id)" value="Accept Answer"/>\
                            </span></p>\
                        </ul>\
                        <textarea rows="4" cols="50" v-model="text" v-if="answeringQuestion" placeholder="Your Answer"/>\
                        <input type="button" v-if="answeringQuestion" v-on:click="submitAnswer" value="Submit"/>\
                        <input type="button" v-if="answeringQuestion" v-on:click="cancelAnswer" value="Cancel"/>\
                    </ul>\
                </span>\
            ',
            methods: {
                answerQuestion: function () {
                    this.$emit('update:current_question_id', this.question.id)
                    this.answeringQuestion = true
                },
                submitAnswer: function () {
                    this.answeringQuestion = false
                    this.$emit('update:text', this.text)
                    this.$emit('answer-question')
                },
                cancelAnswer: function () {
                    this.answeringQuestion = false
                    this.text = ''
                },
                deleteQuestion: function () {
                    this.$emit('update:current_question_id', this.question.id)
                    this.$emit('delete-question')
                },
                acceptAnswer: function (answerId) {
                    this.$emit('update:current_question_id', this.question.id)
                    this.$emit('update:accepted_answer_id', answerId)
                    this.$emit('accept-answer')
                }
            }
        }


        var app = new Vue({
            el: "#app",
            data: {
                questions: [],
                triggerQuestions: [],
                ownQuestions: [],
                question: '',

                title: '',
                text: '',

                username: 'Olaf123',
                password: 'olaf123',

                current_question_id: 1,
                accepted_answer_id: 1,

                loggedUsername: '',
                loggedIn: false,

                showDetailsQuestion: false,
                showAskingNewQuestion: false,
                showAllQuestions: true,
                showUnsolvedQuestions: false,
                showAllUnansweredQuestions: false,
                showYourAnswers: false,
                showYourQuestions: false
            },
            components: {
                'questions': Questions,
                'details-question': DetailsQuestion
            },
            methods: {
                newQuestion: function () {
                    $.ajax({
                        url: 'http://localhost:8080/questions/new',
                        type: 'POST',
                        contentType: 'application/JSON',
                        data: JSON.stringify({
                            "title": app.title,
                            "text": app.text
                        }),
                        success: function () {
                            app.title = '';
                            app.text = '';
                            app.showAllQuestionsFunc()
                            app.recalculateOwnQuestions()
                        },
                        error: function () {
                        }
                    });
                },
                answerQuestion: function () {
                    $.ajax({
                        url: 'http://localhost:8080/questions/answer/' + [app.current_question_id],
                        type: 'POST',
                        contentType: 'application/JSON',
                        data: JSON.stringify({
                            "text": app.text
                        }),
                        success: function () {
                            app.text = '';
                            app.showDetailsQuestionFunc()
                        }
                    })
                },
                acceptAnswer: function () {
                    $.ajax({
                        url: 'http://localhost:8080/questions/acceptanswer/' + [app.current_question_id] + '/' + [app.accepted_answer_id],
                        type: 'POST',
                        success: function () {
                            app.showDetailsQuestionFunc()
                        }
                    })
                },
                deleteQuestion: function () {
                    $.ajax({
                        url: 'http://localhost:8080/questions/delete/' + [app.current_question_id],
                        type: 'DELETE',
                        success: function () {
                            app.showAllQuestionsFunc()
                            app.recalculateOwnQuestions()
                        }
                    })
                },
                getQuestions: function () {
                    $.getJSON('http://localhost:8080/questions/all', function (res) {
                        app.questions = res;
                        if(token == ""){
                            var tmp = document.cookie.match(new RegExp('[; ]'+ 'XSRF-TOKEN'+'=([^\\s,.;]*)'));
                            if(tmp){
                                token = tmp[tmp.length-1]
                            }
                        }
                    });
                },
                getUnsolvedQuestions: function () {
                    $.getJSON('http://localhost:8080/questions/all/unanswered', function (res) {
                        app.questions = res;
                    });
                },
                getUnansweredeQuestions: function () {
                    $.getJSON('http://localhost:8080/questions/all/noanswer', function (res) {
                        app.questions = res;
                    });
                },
                getOwnAnsweredeQuestions: function () {
                    $.ajax({
                        url:'http://localhost:8080/questions/all/ownanswered',
                        type: 'POST',
                        success: function(res){
                            app.questions = res
                        }
                    })
                },
                requestQuestion: function () {
                    $.getJSON('http://localhost:8080/questions/view/' + [app.current_question_id], function (res) {
                        app.question = res
                    });
                },
                loginFunction: function () {
                    $.ajax({
                        url: 'http://localhost:8080/login',
                        type: 'POST',
                        data: {
                            "username": this.username,
                            "password": this.password
                        },
                        contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                        success: function (xhr) {
                            this.loggedIn = true;
                            this.loggedUsername = this.username;
                            this.username = '';
                            this.password = '';
                            var tmp = document.cookie.match(new RegExp('[; ]'+ 'XSRF-TOKEN'+'=([^\\s,.;]*)'));
                            if(tmp){
                                token = tmp[tmp.length-1]
                            }
                        }.bind(this),
                        error: function (xhr, status, error) {
                            if (xhr.status == '400') {
                                alert('Invalid Username-Password Combination')
                            } else {
                                alert(xhr.status + ': ' + xhr.response)
                            }
                        }
                    });
                },
                logoutFunction: function () {
                    $.ajax({
                        type: 'POST',
                        url: 'http://localhost:8080/logout',
                        success: function (data, status, xhr) {
                            alert(data.toString())
                            this.loggedUsername = '';
                            this.triggerQuestions = {};
                            this.ownQuestions = {};
                            this.loggedIn = false;
                            token = "";
                            app.showAllQuestionsFunc();
                        }.bind(this),
                        error: function (xhr, status, error) {
                            alert(xhr.responseText);
                        }
                    })
                },
                registerFunction: function () {
                    $.ajax({
                        url: 'http://localhost:8080/registration',
                        type: 'POST',
                        contentType: 'application/JSON',
                        data: JSON.stringify({
                            "username": app.username,
                            "password": app.password
                        }),
                        success: function () {
                            alert('Your Registration was successful');
                            app.username = '';
                            app.password = '';
                        },
                        error: function (xhr, status, error) {
                            alert(xhr.responseText);
                        }

                    })
                },
                showDetailsQuestionFunc: function () {
                    app.requestQuestion()
                    app.setAllShowFalse()
                    app.showDetailsQuestion = true

                },
                showAskingNewQuestionFunc: function () {
                    app.setAllShowFalse()
                    app.showAskingNewQuestion = true
                },
                showAllQuestionsFunc: function () {
                    app.getQuestions()
                    app.setAllShowFalse()
                    app.showAllQuestions = true
                },
                showAllUnsolvedQuestionsFunc: function () {
                    app.getUnsolvedQuestions()
                    app.setAllShowFalse()
                    app.showUnsolvedQuestions = true
                },
                showAllUnansweredQuestionsFunc: function () {
                    app.getUnansweredeQuestions()
                    app.setAllShowFalse()
                    app.showAllUnansweredQuestions = true
                },
                showYourQuestionsFunc: function () {
                    app.setAllShowFalse()
                    app.showYourQuestions = true
                },
                showYourAnsweredQuestionsFunc: function () {
                    app.getOwnAnsweredeQuestions()
                    app.setAllShowFalse()
                    app.showYourAnswers = true
                },
                setAllShowFalse: function () {
                    app.showDetailsQuestion = false;
                    app.showAskingNewQuestion = false;
                    app.showAllQuestions = false;
                    app.showUnsolvedQuestions = false;
                    app.showAllUnansweredQuestions = false;
                    app.showYourAnswers = false;
                    app.showYourQuestions = false;
                    app.title = '';
                    app.text = '';
                },
                recalculateOwnQuestions: function () {
                    $.getJSON('http://localhost:8080/questions/all', function (res) {
                        app.triggerQuestions = res;
                    });
                }
            },
            computed: {
                calcOwn: function () {
                    this.ownQuestions = [];
                    this.loggedUsername;
                    var counter = 0
                    for (var question in this.triggerQuestions) {
                        if (this.triggerQuestions[question].owner == this.loggedUsername) {
                            this.ownQuestions[counter] = this.triggerQuestions[question]
                            counter++;
                        }
                    }
                    return this.ownQuestions
                }
            },
            created: function () {
                this.getQuestions();
                this.recalculateOwnQuestions()
            }
        })
    });
</script>
</html>