<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8"/>
    <title>Web Engi Project</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>

<div id="app">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li><a href="#" v-on:click="showAllQuestionsFunc">All Questions</a></li>
                <li><a href="#" v-on:click="showAllOpenQuestionsFunc">Questions open</a></li>
                <li><a href="#" v-on:click="showAllUnsolvedQuestionsFunc">Questions unsolved</a></li>
                <li><a href="#" v-if="loggedIn" v-on:click="showYourAnsweredQuestionsFunc">Your Answers</a></li>
                <li><a href="#" v-if="loggedIn" v-on:click="showYourQuestionsFunc">Your Questions</a></li>
                <li><a href="#" v-if="loggedIn" v-on:click="showAskingNewQuestionFunc">Ask a Question</a></li>
            </ul>
            <form class="navbar-form navbar-right">
                <div class="form-group">
                    <input type="text" class="form-control" v-model="username" v-if="!loggedIn" placeholder="Username"/>
                    <input type="password" class="form-control" v-model="password" v-if="!loggedIn"
                           placeholder="Password"/>
                </div>
                <button type="button" class="btn btn-default" v-if="!loggedIn" v-on:click="loginFunction">Login</button>
                <button type="button" class="btn btn-default" v-if="!loggedIn" v-on:click="registerFunction">Create User
                </button>
                <button type="button" class="btn btn-default" v-if="loggedIn" v-on:click="logoutFunction">Logout</button>

            </form>
        </div>
    </nav>

    <div id="all" v-if="showAllQuestions">
        <h1><b><i>All questions</i></b></h1>
        <all-questions
                v-on:answer-question="answerQuestion"
                v-on:request-question="showDetailsQuestionFunc"
                v-for="question in questions"
                v-bind:question="question"
                v-bind:key= "question.id"
                v-bind:logged-in="loggedIn"
                :current_question_id.sync="current_question_id"
                :text.sync="text"
                >
        </all-questions>
    </div>

    <div id="detail" v-if="showDetailsQuestion">
        <details-question
                v-on:answer-question="answerQuestion"
                v-on:request-question="showDetailsQuestionFunc"
                v-bind:question="question"
                v-bind:key= "question.id"
                v-bind:logged-in="loggedIn"
                :current_question_id.sync="current_question_id"
                :text.sync="text"
                >
        </details-question>
    </div>

    <div id="open" v-if="showOpenQuestions">

    </div>

    <div id="new" v-if="showAskingNewQuestion">
        <form v-if="loggedIn">
            <input type="text" v-model="title" placeholder="Whats your Question"/>
            <p/>
            <textarea rows="4" cols="50" v-model="text" placeholder="Whats your Problem"/>
            <p/>
            <input type="button" v-on:click="newQuestion" value="Ask your question"/>
        </form>
    </div>

    <div id="unsolved" v-if="showUnsolvedQuestions">

    </div>

    <div id="answered" v-if="showYourAnswers">

    </div>

    <div id="own" v-if="showYourQuestions">

    </div>


</div>

</body>


<script src="https://unpkg.com/vue"></script>
<script>

    $(function () {

        var AllQuestions= {

                props: {
                    question:'',
                    loggedIn:'',
                    text: '',
                    answeringQuestion: false
                },
                template: '\
                    <span>\
                        <ul style="border:10px solid lightgray; border-radius: 20px;">\
                            <h2><a href="#" v-on:click="requestQuestion">{{ question.title }} </a></h2>\
                            <h4>{{ question.text }} </h4>\
                            <p><i>{{ question.owner}}</i>\
                            <button v-if="loggedIn" style="float: right">X</button>\
                            <button v-if="loggedIn" style="float: right" v-on:click="answerQuestion">Answer</button>\
                            </p>\
                            <textarea rows="4" cols="50" v-model="text" v-if="answeringQuestion" placeholder="Your Answer"/>\
                            <input type="button" v-if="answeringQuestion" v-on:click="submitAnswer" value="Submit"/>\
                            <input type="button" v-if="answeringQuestion" v-on:click="cancelAnswer" value="Cancel"/>\
                        </ul>\
                    </span>\
                    ',
                methods: {
                    requestQuestion: function(){
                        this.$emit('update:current_question_id', this.question.id)
                        this.$emit('request-question')
                    },
                    answerQuestion: function(){
                        this.$emit('update:current_question_id', this.question.id)
                        this.answeringQuestion = true
                    },
                    submitAnswer: function() {
                        this.answeringQuestion = false
                        this.$emit('update:text', this.text)
                        this.$emit('answer-question')
                    },
                    cancelAnswer: function(){
                        this.answeringQuestion = false
                        this.text = ''
                    }
                }
        }

        var DetailsQuestion= {
            props: {
                question: '',
                loggedIn: '',
                text: '',
                answeringQuestion: false
            },
            template: '\
                <span>\
                    <ul style="border:10px solid lightgray; border-radius: 10px;">\
                        <h2  style="border-bottom:1px solid black;">{{question.title}}</h2>\
                        <h3>{{question.text}}</h3>\
                        <p><i>{{ question.owner}}</i>\
                            <button v-if="loggedIn" style="float: right">X</button>\
                            <button v-if="loggedIn" style="float: right" v-on:click="answerQuestion">Answer</button>\
                        </p>\
                        <textarea rows="4" cols="50" v-model="text" v-if="answeringQuestion" placeholder="Your Answer"/>\
                        <input type="button" v-if="answeringQuestion" v-on:click="submitAnswer" value="Submit"/>\
                        <input type="button" v-if="answeringQuestion" v-on:click="cancelAnswer" value="Cancel"/>\
                        <li v-for="answer in question.answers">\
                            <p>{{answer.text}}</p>\
                            <p><i>{{answer.owner}}</i></p>\
                        </li>\
                    </ul>\
                </span>\
            ',
            methods:{
                answerQuestion: function(){
                    this.$emit('update:current_question_id', this.question.id)
                    this.answeringQuestion = true
                },
                submitAnswer: function() {
                    this.answeringQuestion = false
                    this.$emit('update:text', this.text)
                    this.$emit('answer-question')
                },
                cancelAnswer: function(){
                    this.answeringQuestion = false
                    this.text = ''
                }
            }
        }


        var app = new Vue({
            el: "#app",
            data: {
                questions: [],
                question: '',

                title: '',
                text: '',

                username: '',
                password: '',
                access_token: '',

                current_question_id: 1,

                loggedUsername: '',
                loggedIn: false,

                showDetailsQuestion: false,
                showAskingNewQuestion: false,
                showAllQuestions: true,
                showOpenQuestions: false,
                showUnsolvedQuestions: false,
                showYourAnswers: false,
                showYourQuestions: false,
            },

            components: {
                'all-questions' : AllQuestions,
                'details-question' : DetailsQuestion
            },

            computed: {

            },

            methods: {
                newQuestion: function () {
                    var $access_token = '?access_token=' + app.access_token;
                    $.ajax({
                        url: 'http://localhost:8080/questions/new'+[$access_token],
                        type: 'POST',
                        contentType: 'application/JSON',
                        data: JSON.stringify({
                            "title": app.title,
                            "text": app.text
                        }),

                        success: function () {
                            app.title = '';
                            app.text = '';
                            app.showAllQuestionsFunc()
                        }
                    });
                },

                answerQuestion: function(){
                    var $access_token = '?access_token=' + app.access_token;
                    $.ajax({
                        url: 'http://localhost:8080/questions/answer/'+[app.current_question_id]+[$access_token],
                        type: 'POST',
                        contentType: 'application/JSON',
                        data: JSON.stringify({
                            "text": app.text
                        }),

                        success: function () {
                            app.text = '';
                            app.showDetailsQuestionFunc()
                        }
                    })
                },

                getQuestions: function () {
                    $.getJSON('http://localhost:8080/questions/all', function (res) {
                        app.questions = res;
                    });
                },

                requestQuestion: function() {
                    $.getJSON('http://localhost:8080/questions/view/'+[app.current_question_id], function (res) {
                        app.question = res
                    });
                },

                loginFunction: function () {
                    $.ajax({
                        url: 'http://localhost:8080/oauth/token',
                        type: 'POST',
                        xhrFields: {withCredentials: true},
                        headers: {
                            "Authorization": "Basic " + btoa('my-trusted-client' + ':' + '')
                        },
                        data: {
                            "grant_type": 'password',
                            "username": this.username,
                            "password": this.password
                        },
                        contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                        success: function (data) {
                            this.loggedIn = true;
                            this.access_token = data.access_token;
                        }.bind(this)


                    });
                },

                logoutFunction: function(){
                    $.ajax({
                        url: 'http://localhost:8080/logout',
                        type: 'GET',
                        headers: {
                            "Authorization": "Basic " + btoa('my-trusted-client' + ':' + '')
                        },
                        contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                        success: function(){
                            this.loggedIn = false;
                            this.access_token = '';
                        }.bind(this)
                    });
                },

                registerFunction: function () {
                    $.ajax({
                        url: 'http://localhost:8080/registration',
                        type:'POST',
                        contentType: 'application/JSON',
                        data: JSON.stringify({
                            "username": app.username,
                            "password": app.password
                        }),
                        success: function () {
                            alert('Your Registration was successful');
                        },
                        error: function (xhr,status,error) {
                            alert(xhr.status+xhr.message+xhr.responseText);
                            alert(JSON.parse(xhr.responseText).message);
                        }

                    })
                },

                showDetailsQuestionFunc: function(){
                    app.requestQuestion()
                    app.setAllShowFalse()
                    app.showDetailsQuestion= true

                },

                showAskingNewQuestionFunc: function(){
                    app.setAllShowFalse()
                    app.showAskingNewQuestion = true
                },

                showAllQuestionsFunc: function(){
                    app.getQuestions()
                    app.setAllShowFalse()
                    app.showAllQuestions = true
                },

                showAllOpenQuestionsFunc: function(){
                    app.setAllShowFalse()
                    app.showOpenQuestions = true
                },

                showAllUnsolvedQuestionsFunc: function(){
                    app.setAllShowFalse()
                    app.showUnsolvedQuestions = true
                },

                showYourQuestionsFunc: function(){
                    app.setAllShowFalse()
                    app.showYourQuestions = true
                },

                showYourAnsweredQuestionsFunc: function(){
                    app.setAllShowFalse()
                    app.showYourAnswers = true
                },

                setAllShowFalse: function(){
                    app.showDetailsQuestion = false;
                    app.showAskingNewQuestion = false;
                    app.showAllQuestions = false;
                    app.showOpenQuestions = false;
                    app.showUnsolvedQuestions = false;
                    app.showYourAnswers = false;
                    app.showYourQuestions = false;
                }

            },

            created: function(){
                this.getQuestions();
            }
        })
    });

</script>

</html>